# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Large model weights / checkpoints
*.pth
*.pt
*.onnx
*.bin
resnet18_cifar10_best.pth

# Environment & IDE
.DS_Store
.vscode/
.idea/
*.swp
.pytest_cache/

# Virtual Environment
venv/
.venv/
env/

# Output directories
result/
